/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
	height: 100%;
}
body {
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.style-script-regular {
	font-family: 'Style Script', cursive;
	font-weight: 400;
	font-style: normal;
}
